.container {
    width: 1280px;
    padding: 0 15px;
    margin: auto;
    @media (max-width: 1600px) {
        width: 1500px;
      }
      @media (max-width: 1500px) {
        width: 1400px;
      }
      @media (max-width: 1400px) {
        width: 1300px;
      }
      @media (max-width: 1300px) {
        width: 100%;
      }
}

@import "mixins";
@import "fonts";
@import "_parts/header";
