.rs-features-block-chocolate {
    margin-top: 73px;
    height: 130px;
    background-color: #eef0f3;
    position: relative;

    &__wrapper{
        
    }
    // .rs-features-block-chocolate__item

    &__item {
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }

    // .rs-features-block-chocolate__icon

    &__icon {
        position: absolute;
        top: -20px;
        right: 0;
        margin: auto;
        left: 0;
        @media (max-width: 757px) {
            top: -70px;
          }
    }

    // .rs-features-block-chocolate__title

    &__title {
        padding-bottom: 4px;
        font-size: 13px;
        font-weight: 600;
        color: #4e6b8b;
        font-family: 'EB Garamond', serif;
        text-transform: uppercase;
        margin-top: 50px;
    }

    // .rs-features-block-chocolate__subtitle

    &__subtitle {
        font-size: 13px;
        color: #424242;
        font-family: 'Montserrat', sans-serif;
        padding: 0 52px;
        font-weight: 500;
        
    }
}

