.rs-footer {
    padding: 70px 0 63px;
    @media (max-width: 991px) {
        padding: 40px 0 0;
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @media (max-width: 757px) {
            align-items: center;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 25%;
        @media (max-width: 991px) {
            width: 50%;
            text-align: center;
            margin-bottom: 60px;
        }
        @media (max-width: 757px) {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
            &:nth-child(1) {
                order: 4;
                margin-bottom: 15px;
            }
        }
    }
    &__copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 64px 20px 37px;
        border: 3px solid #4e6b8b;
    }
    &__copyright-logo {
        height: 29px;
        width: auto;
    }
    &__copyright-icons {
        padding: 30px 5px 60px;
    }
    &__copyright-text {
        text-align: center;
        font-size: 12px;
        color: #4e6b8b;
        font-family: 'Montserrat', sans-serif;
        img {
            height: 9px;
        }
    }
    &__contact {
        padding-top: 10px;
    }
    &__contact-title {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 17px;
    }
    &__contact-line {
        padding-bottom: 17px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    &__catalog {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    &__catalog-title {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 17px;
    }
    &__catalog-link {
        padding-bottom: 17px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;

    }
    &__sitemenu {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    &__sitemenu-title {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 17px;
    }
    &__sitemenu-link {
        padding-bottom: 17px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    &__catalog-link,
    &__sitemenu-link {
        &:hover {
            span {
                &::before,
                &::after {
                    transform: scale(1, 1);
                }
            }
        }
        span {
            position: relative;
            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: -.7em;
                width: 100%;
                height: 1px;
                border-top: 1px solid #586b89;
                transform: scale(0, 1);
                transform-origin: 0 50%;
            }
            &::before {
                padding-bottom: 4px;
                transition: transform 0.4s cubic-bezier(0.48, 0.57, 0.33, 0.89);
            }
            &::after {
                transition: transform 0.4s cubic-bezier(0.48, 0.57, 0.33, 0.89) 0.1s;
            }
        }
    }
}
