.rs-products {
    padding: 60px 0;
    &__title {
        font-size: 46px;
        color: #354764;
        text-align: center;
        @media (max-width: 1199px) {
            font-size: 40px;
        }
        @media (max-width: 991px) {
            font-size: 32px;
        }
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }
    &__tabs {
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
    }
    &__col {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
        text-align: center;
        @media (max-width: 767px) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}
.rs-tab-nav {
    $rtn: &;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    &__item {
        @media (max-width: 767px) {
            margin-bottom: 12px;
        }
        &.active {
            #{ $rtn }__link {
                span {
                    border-bottom: 1px solid #333333;
                }
            }
        }
    }
    &__link {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 0 20px;
        span {
            display: inline-block;
            line-height: 1.6;
        }
    }
}
.rs-featured-product {
    transition: all .3s ease-out 70ms;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 10px #fff inset;
    &:hover {
        box-shadow: 0 0 0 0 #fff inset;
    }
    picture {
        display: block;
    }
    &__wrapper {
        background: #fff;
        padding: 23px 27px;
        height: calc(100% - 18px);
        margin: 9px;
    }
    &__image {
        height: 200px;
        width: auto;
        margin-bottom: 12px;
        @media (max-width: 767px) {
            height: auto;
            width: 100%;
        }
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 16px;
    }
    &__text {
        font-size: 14px;
        margin-bottom: 16px;
    }
    &__price {
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        line-height: 1;
    }
}
