.rs-products {
    padding: 60px 0;
    @media (max-width: 1200px) {
        padding-bottom: 0;
      }
    // @media (max-width: 757px) {
    //     padding: 30px 0;
    //   }

    // .rs-products__title

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 35px;
        font-size: 46px;
        color: #354764;
        @media (max-width: 991px) {
            font-size: 38px;
        }
        @media (max-width: 757px) {
            font-size: 28px;
            padding-bottom: 15px;
        }
        @media (max-width: 565px) {
            font-size: 18px;
            text-align: center;
        }
    }

    // .rs-products__links

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .rs-products__link

    &__link {
        margin: 0 23px 42px 23px;
        font-size: 13px;
        color: #333;
        &:hover{
            border-bottom: 1px solid #000;
        }
        @media (max-width: 565px) {
            margin: 0 9px 22px;
          }
    }

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

    }
    &__item{
        display: block;
        align-items: center;
        @media (max-width: 1200px) {
            width: 50%;
            margin-bottom: 120px;
            }
            @media (max-width: 991px) {
                width: 100%;
              }
    }
    // .rs-products__content

    &__content {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 30px;
        left: 60px;
        right: 0;
        bottom: 0;
        @media (max-width: 1200px) {
            left: 90px;
          }
          @media (max-width: 991px) {
          }
    }

    &__content-img {
    }
    // .rs-products__content-title

    &__content-title {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 18px;
    }

    // .rs-products__content-text

    &__content-text {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 25px;

    }

    // .rs-products__content-price

    &__content-price {
        font-size: 21px;
        padding-bottom: 10px;
    }
}

.col-sm-4 {
    .ramka{
        position: absolute;
        top: 0;
        right: auto;
        left: auto;
        bottom: 0;
        @media (max-width: 1200px) {
            left: 40px;
            }
            @media (max-width: 991px) {
                }
    }
}
