.rs-slider {
    height: 592px;
    background-image: url(../../img/sliderfon.jpg);
    display: flex;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    // .rs-slider__text
    @media (max-width: 565px) {
    height: 492px;
      }
     

    &__text {
        display: flex;
        flex-direction: column;
    }

    // .rs-slider__title

    &__title {
        padding-bottom: 46px;
        font-size: 72px;
        color: #354764;
        @media (max-width: 991px) {
            padding-bottom: 26px;
            font-size: 54px;
        }
        @media (max-width: 565px) {
            font-size: 32px;
                padding-bottom: 16px;
              }
    }

    // .rs-slider__subtitle

    &__subtitle {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        @media (max-width: 320px) {
            font-size: 11px;
              }
    }
}
.container {
}
